#add-credentials-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    width: 750px;
}

.cred-icon {
    margin-right: 20px;
    font-weight: 500;
}
