#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 50px;
    padding: 0px 100px;
}

#logo {
    font-family: 'Source Serif Pro', serif;
    font-size: 35px;
    color: rgb(170,56,47);
}
